
            <div class="home">
                <div class="content">
                    <h2>Bienvenidos!</h2>
                    <h3>Burger Factory</h3>
                    <p>Estamos emocionados de tenerlos aquí y compartir nuestra pasión <br>por las hamburguesas con ustedes</p>
                    <div class="icon">
                        <i class="bi bi-instagram text-white"></i>
                        <i class="bi bi-facebook text-white"></i>
                        <i class="bi bi-twitter text-white"></i>
                    </div>
                </div>
            <div class="login bg-white">
                <h2>Iniciá Sesión!</h2>
                    <img src="images/burger factory.png" alt="Burger Factory" width="320">
                        <form method="post" action="/api/sessions/login">
                            <div class="mb-3">
                                <input type="text" class="form-control" id="email" placeholder="email">
                                <i class="bi bi-envelope-fill text-danger"></i>
                            </div>
                            <div class="mb-3">
                                <input type="password" class="form-control" id="password" placeholder="contraseña">
                                <i class="bi bi-lock-fill text-danger"></i>
                            </div>
                            <div>
                                <button type="button" class="boton justify-content-center" id="btnLogIn"><p class="p">Iniciar Sesión</p></button>
                            </div>
                                <p class="my-3">¿No tenés Usuario? <a href="/register"><b>Registrate</b></a></p>
                                <p>Ingresar con: </p>
                            <button class=" boton"><p class="p"><a class="boton-github" href="/api/sessions/github" ><i class="bi bi-github"></i>GitHub</p></a></button>
                        </form>
            </div>        
        </div>
        
        
<script src="js/login.js"></script> 